<% content_for :title do %>
  Edit Organization
<% end %>
<div class="row justify-content-md-center">
<div class="col-8 ">
   <div class="row mt-3">
      <div class="col-10">
         <h4>Organization Edit Form</h4>
      </div>
   </div>
   <div class="row mt-3">
      <form id="form-org">
         <div class="mb-3 row">
            <input type="hidden" id="url" value="<%= url_for(:root)+'organization' %>"/>
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="organization[name]" value="<%= @organization.name %>">
            </div>
         </div>
         <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="email" name="organization[email]" value="<%= @organization.email %>">
            </div>
         </div>
         <div class="mb-3 row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" name="organization[telp]" value="<%= @organization.telp %>">
            </div>
         </div>
         <div class="mb-3 row">
            <label for="website" class="col-sm-2 col-form-label">Website</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="website" name="organization[website]" value="<%= @organization.website %>">
            </div>
         </div>
         <div class="mb-3 row">
            <label for="logo" class="col-sm-2 col-form-label">Logo</label>
            <div class="col-sm-10">
               <input class="form-control" type="file" accept="image/png, image/gif, image/jpeg" id="logo" name="organization[logo]">
            </div>
         </div>
          
         <div class="mb-3 row">
            <div class="col-sm-6 offset-sm-2">
            <img src="<%= url_for(@organization.logo) %>" id="logo" width="100">
            </div>
         </div>
         
         
         <div class="mb-3 row justify-content-md-center">
            <input type="hidden" id="id" value="<%= @organization.id %>">
            <button type="button" onclick="update()" class="col-4 btn btn-warning">Edit</button>
         </div>
         
      </form>
   </div>
</div>
</div>
<script>
   function update(){
      $('#loading').modal('show')
      let baseUrl = $('#url').val()
      let idOrg = $('#id').val()
      let formData = new FormData()
      formData.append('organization[id]', parseInt(idOrg))
      formData.append('organization[name]', $('#name').val())
      formData.append('organization[email]', $('#email').val())
      formData.append('organization[telp]', $('#phone').val())
      formData.append('organization[website]', $('#website').val())
      if($('#logo')[0].files.length > 0)
         formData.append('organization[logo]', $('#logo')[0].files[0])
      console.log(formData)
      $.ajax({
         url: baseUrl+"/"+idOrg,
         type: "PATCH",
         processData: false,
         contentType: false,
         data: formData,
         dataType: 'json',
         success: (response) => {
            setTimeout(() => {
               $('#loading').modal('hide')
               if(response.status == 'S'){
                  $('#popup_title').text('Sukses')   
               } else {
                  $('#popup_title').text('Gagal')
               }
               $('#popup_body').text(response.message)
               $('#popup_info').modal('show')
               
            }, 300);
         },
         error: (xhr, txtStatus, errThrown) => {
            setTimeout(() => {
               $('#loading').modal('hide')
               $('#popup_title').text('Error')
               $('#popup_body').text('Gagal simpan data organization')
               $('#popup_info').modal('show')
            }, 300);
         }
      })
   }
</script>